name: Mon Premier Pipeline CI/CD

# 1. QUAND est-ce que le robot doit se réveiller ?
on:
  push:
    branches:
      - main  # À chaque fois que du code arrive sur la branche principale

# 2. QUE doit faire le robot ?
jobs:
  mon-travail-automatise:
    # On demande à GitHub de nous prêter un petit serveur Linux gratuit
    runs-on: ubuntu-latest

    # 3. LES ÉTAPES (Les commandes à taper)
    steps:
      # ÉTAPE CRUCIALE : Le robot doit d'abord télécharger vos fichiers depuis GitHub
      - name: Télécharger le code
        uses: actions/checkout@v4

      # ÉTAPE DOCKER : On construit l'image
      - name: Construire l'image Docker
        run: |
          echo "Démarrage de la construction de l'image..."
          docker build -t nabiyou-app:v1 .
          echo "L'image est construite avec succès !"
          
      # VÉRIFICATION : On regarde si l'image est bien là
      - name: Vérifier les images Docker
        run: docker images
