name: Mon Premier Pipeline CI/CD

# 1. QUAND est-ce que le robot doit se réveiller ?
on:
  push:
    branches:
      - main  # À chaque fois que du code arrive sur la branche principale

# 2. QUE doit faire le robot ?
jobs:
  mon-travail-automatise:
    # On demande à GitHub de nous prêter un petit serveur Linux gratuit
    runs-on: ubuntu-latest

    # 3. LES ÉTAPES (Les commandes à taper)
    steps:
      # ÉTAPE CRUCIALE : Le robot doit d'abord télécharger vos fichiers depuis GitHub
      - name: Télécharger le code
        uses: actions/checkout@v4

      - name: Se connecter à Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # ÉTAPE DOCKER : On construit l'image
      - name: Construire et pousser l image Docker 
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: xmotech/nabiyou-app:v1
